<div class = "letter" id = "{{id}}">
  <div class = "letter-character" {{#if definition}}title="{{definition}}"{{/if}}>{{#unless character}}&nbsp;{{else}}{{character}}{{/unless}}</div>
  <div class = "letter-score">{{#if score}}{{score}}{{/if}}</div>
</div>
